body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: initial;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper .header {
  padding: 15px 55px;
}
.wrapper .header .header__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wrapper .header .header__body .header__logo {
  justify-content: center;
  display: flex;
  align-items: center;
}
.wrapper .header .header__body .header__logo img {
  width: 150px;
}
.wrapper .header .header__body .header_navbar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.wrapper .header .header__body .header_navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0 5%;
  font-size: 21px;
  width: 100%;
  height: 45px;
}
.wrapper .header .header__body .header__button {
  display: flex;
  align-items: center;
}
.wrapper .main {
  padding: 15px 55px;
}
.wrapper .main .main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .main .main__body .main__image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.wrapper .main .main__body .main__image img {
  width: 100%;
  height: auto;
  display: block;
}
.wrapper .main .main__body .main__info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper .main .main__body .main__info .main__left {
  margin: 20px 0;
}
.wrapper .main .main__body .main__info .main__left h2 {
  margin: 0;
  line-height: 1.25;
  font-size: 42px;
  font-weight: 400;
}
.wrapper .main .main__body .main__info .main__left .main__start-button {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  width: 370px;
  height: 84px;
  background: #f2f2f2;
  color: #0b0b0b;
  border-radius: 40rem;
  border: none;
  position: relative;
  align-items: center;
  border: 1px solid #cdcdcd;
  cursor: pointer;
}
.wrapper .main .main__body .main__info .main__left .main__start-button .main__start-text {
  font-size: 23px;
  margin-left: 45px;
}
.wrapper .main .main__body .main__info .main__left .main__start-button .main__start-circle {
  position: absolute;
  right: 10px;
  border-radius: 50%;
  background-color: #0b0b0b;
  width: 70px;
  height: 70px;
  color: white;
  font-size: 39px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .main .main__body .main__info .main__left .main__start-button .main__start-circle span {
  margin-bottom: 12px;
}
.wrapper .main .main__body .main__info .main__right {
  margin: 25px 0;
}
.wrapper .main .main__body .main__info .main__right p {
  font-weight: 400;
  display: inline;
  max-width: 600px;
  font-size: 20px;
  line-height: 1.5;
}

.green-button {
  background: #35ca37;
  color: #fff;
  border-radius: 40rem;
  width: 148px;
  height: 54px;
  font-size: 19px;
  border: none;
  cursor: pointer;
}

.green-text {
  font-weight: normal;
  color: #35ca37;
}/*# sourceMappingURL=style.css.map */